@page
@model DotNetTrip.Pages.Reserva.DetailsModel
@{
    ViewData["Title"] = "Detalhes da Reserva";
}

<h1>Detalhes da Reserva</h1>

<div>
    <h4>Reserva #@Model.Reserva.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cliente
        </dt>
        <dd class="col-sm-10">
            @Model.Reserva.Cliente?.Nome (ID: @Model.Reserva.Cliente?.Id)
        </dd>

        <dt class="col-sm-2">
            Pacote Turístico
        </dt>
        <dd class="col-sm-10">
            @Model.Reserva.PacoteTuristico?.Titulo (ID: @Model.Reserva.PacoteTuristico?.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.DataReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.DataReserva)
        </dd>

        <dt class="col-sm-2">
            Preço do Pacote
        </dt>
        <dd class="col-sm-10">
            R$ @Model.Reserva.PacoteTuristico?.Preco.ToString("N2")
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reserva.Id" class="btn btn-primary">Editar</a>
    <a asp-page="./Index" class="btn btn-secondary">Voltar à Lista</a>
</div>